@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

/**** main **/
.main-wrapper {
  grid-area: product;
}
.content-title {
  margin: 1rem;
  align-items: center;
  justify-content: center;
}
.content-title h2 {
  font-size: 3rem;
}
.product-desc {
  font-size: 1.2rem;
}

.main-wrapper {
  grid-area: products;
  margin-top: 0;
}

.bottom-img-btn {
  justify-items: center;
}

.cover-img {
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: relative;
}

.home-banner {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: fill;
}

/**botton card**/
.bottom-cards {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.card-label {
  background-color: var(--label-color);
  color: var(--white);
}

.bottom-img-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 0 33.333333%;
  gap: 1rem;
}
.bottom-img-btn {
  margin: 2rem 4rem;
}
.category-card img:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* footer */
.footer {
  grid-area: footer;
  background-color: var(--footer-bg);
  height: 50vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer h4 {
  color: var(--white);
  margin-top: 5rem;
}

.footer-nav-links li {
  list-style: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.social-media-links li {
  list-style: none;
  display: inline-block;
}
.social-media-links li a i {
  font-size: 2rem;
  color: var(--white);
  margin: 0.4rem;
}
